.menuContainer
{
    @apply absolute px-4 py-2 flex justify-between rounded-md;
    background-color: theme('colors.mainBackground');
    border: 1px solid theme('colors.mainBorder');
    box-shadow: theme('colors.mainShadow');
    left: 50%;
    max-width: 500px;
    transform: translate(-50%);
    top: 10px;
    width: 90%;
    position: relative;
    z-index: 10;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        padding: 8px;
        width: 95%;
    }


    .iconWrapper
    {
        @apply cursor-pointer flex justify-center items-center h-9 w-9 rounded-md;
        &:hover, &.active{
            background-color: theme('colors.text1');
        }
        .icon{
            font-size: 20px; color: theme('colors.mainText');
        }
    }
}