.toolsContainer{
    @apply p-4 rounded-md;
    background-color: theme('colors.mainBackground');
    border: 1px solid theme('colors.mainBorder');
    box-shadow: theme('colors.mainShadow');
    left: 10px;
    position: fixed;
    top: 80px;
    width: 250px;
    

    @media(max-width: 768px){
        bottom: 10px;
        left: 50%;
        max-width: 400px;
        padding: 12px;
        position: fixed;
        top: auto;
        transform: translateX(-50%);
        width: 95%;
    }


    .toolItems{
        @apply mb-5;

        .toolScript{
            color: theme('colors.mainText');
            font-size: 11px;
        }
        .itemsContainer{
            @apply flex justify-between mt-2;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: flex-start;

            .colorOptions{
                @apply h-4 w-4 rounded-sm cursor-pointer;
                &:hover, &.active {
                    border: 1.5px theme('colors.border1');
                    box-shadow: theme('colors.shadow1');
                }
            }
        }
    }
}

.itemsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 8px;
    margin-top: 8px;
}